body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.center-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

button {
    width: 100%;
    padding: 12px;
    background: #6a00ff;
    color: white;
    border: none;
    border-radius: 6px;
    margin: 10px 0;
    cursor: pointer;
}

button:disabled {
    background: #aaa;
    cursor: not-allowed;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
